# Next.js BFF (Backend-for-Frontend) Proxy URL
# Yerel testler için http://localhost:3099 veya canlı BFF adresi olan https://pages-bff.vercel.app kullanılabilir.
VITE_BFF_API_URL='https://pages-bff.vercel.app'